<div class="panel panel-default">
  <div class="panel-heading">
    Deduplicating Contacts
  </div>
    <pager total-items="totalItems" ng-model="currentPage"></pager>
  <table class="contacts table table-condensed" show-filter="true">
    <tr class="contact basic">
      <th></th>
      <th ng-class="{duplicate: left.isDuplicate()}">Left</th>
      <th ng-class="{duplicate: right.isDuplicate()}">Right</th>
    </tr>
    <tr class="contact basic">
      <td>ID (CouchDB)</td>
      <td>{{left._id | name}}</td>
      <td>{{right._id | name}}</td>
    </tr>
    <tr class="contact basic actions">
      <td>Duplicate?</td>
      <td duplicate-marker obj="left" other="right"></td>
      <td duplicate-marker obj="right" other="left"></td>
    </tr>
    <tr merge-string data-name="lastName" data-title="Last name" left="left" right="right"></tr>
    <tr merge-string data-name="otherNames" data-title="Other names" left="left" right="right"></tr>
    <tr merge-string data-name="gender" data-title="Gender" left="left" right="right"></tr>
    <tr merge-string data-name="age" data-title="Age" left="left" right="right"></tr>
    <tr merge-string data-name="address" data-title="Address" left="left" right="right"></tr>
    <tr merge-string data-name="contactType" data-title="Contact type" left="left" right="right"></tr>
    <tr>
      <td>Daily Visits</td>
      <td merge-list data-name="dailyVisits" obj="left" other="right" data-copy-label="-&gt;">
	<span class="mergevalue">{{ item.temperature }}°</span> on <span class="mergevalue">{{ item.dateOfVisit | date:SETTINGS.dateTimeFormat}}</span> by <span class="mergevalue">{{ item.interviewer | name }}</span>
      </td>
      <td merge-list data-name="dailyVisits" obj="right" other="left" data-copy-label="&lt;-">
	<span class="mergevalue">{{ item.temperature }}°</span> on <span class="mergevalue">{{ item.dateOfVisit | date:SETTINGS.dateTimeFormat}}</span> by <span class="mergevalue">{{ item.interviewer | name }}</span>
      </td>
    </tr>
  </table>
  <div class="panel-footer compact">
  </div>
</div>
